.main-list{
  display: grid;
  grid-template-rows: repeat(auto-fit, auto);
  background-color: rgb(241, 241, 207);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  max-width: 820px;
}

.heading-li,
.team-li{
  display: grid;
  grid-template-columns: 30px 1fr 70px 70px 70px 70px 70px 70px 70px 70px;
}
.team-name{
  width: 20ch;
  text-align: left;
  margin-left: 1ch;
}
.heading-li{
    font-size: 1.3rem;
    font-weight: bold;
    background-color: rgb(212, 239, 255);
    border-bottom-style: solid; 
    border-bottom-width: 1px;
  }

.place,
.team-name,
.points{
  font-size: 1.3rem;
  font-weight: bold;  
}
.points{
  font-size: 1.4rem;
}

.no-styling{
  text-decoration: none;
}

.team-li{
  font-size: 1.3rem;
  background-color: rgb(226, 241, 250);
}

.list-item-span{
    padding: 0.5ch;
}

.team-li:hover{
    background-color: rgb(250, 215, 215);
    transform: scale(1.01);
    border: 1px solid blue;
}

@media screen and (max-width: 900px) {
  .main-list{
    width: fit-content;
  }
  .heading-li,
  .team-li{
    grid-template-columns: 30px 1fr 70px 70px 70px 70px 70px;
  }
  .goals {
    display: none;
  }	
}

@media screen and (max-width: 650px) {
  .main-list{
    width: fit-content;
  }
  .heading-li,
  .team-li{
    grid-template-columns: 30px 1fr 70px 70px;
  }
  .game-stats {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .main-list{
    width: fit-content;
  }
  .heading-li,
  .team-li{
    grid-template-columns: 20px 1fr 52px 52px;
  }
  .list-item-span{
    font-size: 1.1rem;
    font-weight: bold;  
  }
}