body {
    background-image: url("https://6201c34f340336b19e02c590--condescending-colden-37030e.netlify.app/Wembley-Stadium.jfif");
    background-repeat: repeat-y;
    background-position: center; 
}